/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

nbproject/
nbproject/project.properties
tmp/
logs/
composer.lock
/composer.lock
/composer.phar
/.idea
/vendor
build/coverage
build/logs
cache.properties
*local.php
*local.ini
/bin